body {
    margin: 0;
}

nav {
    background-color: #FCE029;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s;
    font-family: 'Roboto', sans-serif;
    color: #231F20;
    font-size: 18px;
}

nav a:hover {
    color: #0A75BC;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

footer a:hover {
    color: #0A75BC;
}


.section1 {
    background-color: #FFFFFF;
    padding: 20px;
    border: 2px solid #ccc
}


.section2 {
    background-color: #0A75BC;
    padding: 15px;
    border: 10px solid #949699;
    color: #231F20;
}

a {
    color: #231F20;
    text-decoration: none;
}

a:hover {
    color: #0A75BC;
    text-decoration: none;
}

section h1 {
    text-align: center;
}

body h1{
    text-align: center;
}
section h2 {
    text-align: center;
}

section h3 {
    text-align: center;
}

h1,
h2 {
    font-family: 'Open Sans', sans-serif;
    color: #231F20;
    font-size: 24px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: #231F20;
    font-size: 24px;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #231F20;
    font-size: 16px;
}

hr.rule1 {
    border: 2px dashed #0077cc;
    margin: 20px 0;
}


hr.rule2 {
    border: 1px solid #ff4500;
    margin: 15px 0;
}

.top-section {
    position: relative;
    height: 300px;
}

.image1 {
    position: absolute;
    left: 550px;
    width: 250px;
    height: 250px;
}


.image2 {
    position: absolute;
    right: 0px;
    top: 0;
    width: 250px;
    height: 250px;
}

.image3 {
    position: absolute;
    left: 70px;
    transform: translateX(-50%);
    top: 0;
    width: 250px;
    height: 250px;

}

.image4 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}


.three-col {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    flex-wrap: wrap; 
}


.card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(189, 123, 123, 0.2);
    background-color: #fff;
}



.card img {
    max-width: 100%;
    max-height: 120%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.card-content {
    text-align: center;
}


.card-content h3 {
    font-size: 24px;
    margin: 10px 0;
}

.languages {
    display: grid;
    flex-wrap: wrap;
    gap: 10px
}


.languages ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.languages li {
    padding: 10px;
    text-align: center;
    flex: 1;
}

.experience {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.experience ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


details {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}


details a {
    text-decoration: none;
    color: #0078d4;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills li {
    display: flex;
    align-items: center;
}

.skill-icon {
    font-size: 24px;
    margin-right: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 95%;
    padding: 15px;
    margin-left: auto;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
}
.one-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form label {
    font-weight: bold;
}

form input[type="submit"] {
    background-color: #0078d4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #005cbf;
}


.card3 {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #000000; 
    border-radius: 4px;
    padding: 20px;
    width: 500px; 
    height: 500px; 
    margin: 20px auto; 
}
